/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

body {
    background-color: black;
    background-image: radial-gradient( rgba(0, 150, 0, 0.75), black 120% );
    height: 100vh;
    color: white;
    font: 1.3rem Inconsolata, monospace;
    font-size: 30px;
    text-shadow: 0 0 5px #C8C8C8;
}

    body::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: repeating-linear-gradient( 0deg, rgba(black, 0.15), rgba(black, 0.15) 1px, transparent 1px, transparent 2px );
    }

.input-line {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    clear: both;
}

.cmdline {
    outline: none;
    background-color: transparent;
    margin: 0;
    width: 100%;
    font: inherit;
    border: none;
    color: inherit;
}

/*
#container {
    padding: .1em 1.5em 1em 1em;
}

    #container output {
        clear: both;
        width: 100%;
    }

        #container output h3 {
            margin: 0;
        }

        #container output pre {
            margin: 0;
        }



    .input-line > div:nth-child(2) {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
    }

.prompt {
    white-space: nowrap;
    color: #96b38a;
    margin-right: 7px;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-orient: vertical;
    display: box;
    box-pack: center;
    box-orient: vertical;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}



.ls-files {
    height: 45px;
    -webkit-column-width: 100px;
    -moz-column-width: 100px;
    -o-column-width: 100px;
    column-width: 100px;
}
    */
