@{
    ViewData["Title"] = "Dart Launcher 3000";
}
@section Scripts
{
<script lang="javascript">
    $(function () {

    // Set the command-line prompt to include the user's IP Address
    //$('.prompt').html('[' + codehelper_ip["IP"] + 'HTML5] # ');
    $('.prompt').html('[root] # ');

    // Initialize a new terminal object
    var term = new Terminal('#input-line .cmdline', '#container output');
    term.init();

    // Update the clock every second
    setInterval(function () {
        function r(cls, deg) {
            $('.' + cls).attr('transform', 'rotate(' + deg + ' 50 50)')
        }
        var d = new Date()
        r("sec", 6 * d.getSeconds())
        r("min", 6 * d.getMinutes())
        r("hour", 30 * (d.getHours() % 12) + d.getMinutes() / 2)
    }, 1000);

    });

</script>    
}

<body>
    @Html.Hidden("commandUrl", Url.Action("Command", "Home"))

    <div id="container">
        <output style="font:inherit; font-size:inherit; color:inherit"></output>
        <div id="input-line" class="input-line">
            <div class="prompt"></div><div><input class="cmdline" autofocus /></div>
        </div>
    </div>

</body>

